.breadcrum-position{
  width: 91%;
  margin-top: 12px;
}

.list-container{
  width: 94vw;
  z-index: 0;
  margin-left: 66px;
  margin-top: 25px;
  background-color: #F0F6FF;
  backdrop-filter: blur(10px);
  padding:15px 24px;
  border-radius: 15px;
}
.heading{
  font-size: 23px;
  font-weight: 600;
}
.list-container .MuiPaper-root{
  border-radius: 10px;
  width: 100%;
  height: 758px !important;
  box-shadow: none !important;
}
.list-container .MuiPaper-root .MuiDataGrid-root{
  border-radius: 10px;
}
.list-container .MuiPaper-root .MuiDataGrid-root .MuiDataGrid-main .MuiDataGrid-virtualScroller .MuiDataGrid-topContainer .MuiDataGrid-columnHeaders .MuiDataGrid-row--borderBottom{
  background-color: #EFEFEF;
}
.list-container .MuiPaper-root .MuiDataGrid-root .MuiDataGrid-footerContainer{
  background-color: #f0f6ff;
}
.list-container .MuiPaper-root .MuiDataGrid-root .MuiDataGrid-footerContainer .MuiTablePagination-root .MuiToolbar-root .css-s09cke-MuiTablePagination-selectLabel{
  margin-bottom: 10px !important;
}
.list-container .MuiPaper-root .MuiDataGrid-root .MuiDataGrid-footerContainer .MuiTablePagination-root .MuiToolbar-root .MuiInputBase-root{
  margin-right: 8px !important;
  margin-left: 8px !important;
  margin-bottom: 7px !important;
}
.list-container .MuiPaper-root .MuiDataGrid-root .MuiDataGrid-footerContainer .MuiTablePagination-root .MuiToolbar-root .MuiTablePagination-displayedRows{
  margin-bottom: 7px !important;
}
.list-container .MuiPaper-root .MuiDataGrid-root .MuiDataGrid-footerContainer .MuiTablePagination-root .MuiToolbar-root .MuiTablePagination-actions{
  margin-bottom: 7px !important;
  margin-left: 8px !important;
}
.list-container .MuiPaper-root .MuiDataGrid-root .MuiDataGrid-main .MuiDataGrid-virtualScroller .MuiDataGrid-topContainer .MuiDataGrid-columnHeaders .MuiDataGrid-row--borderBottom .MuiDataGrid-columnHeader .MuiDataGrid-columnHeaderDraggableContainer .MuiDataGrid-columnHeaderTitleContainer{
  justify-content: center !important;
}
.list-container .MuiPaper-root .MuiDataGrid-root .MuiDataGrid-main .MuiDataGrid-virtualScroller .MuiDataGrid-virtualScrollerContent .MuiDataGrid-virtualScrollerRenderZone .MuiDataGrid-row .MuiDataGrid-cell{
  text-align: center !important;
}
.list-container .MuiPaper-root .MuiDataGrid-root .MuiDataGrid-footerContainer .MuiDataGrid-selectedRowCount{
  margin-left: 0px !important;
  padding-bottom: 8px;
}
.filter-btn{
  padding: 9px 15px !important; 
  font-size: 14px; 
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 12px !important;
  background-color: transparent !important; 
  border: 0.86px solid #9B9CA0 !important;
  margin-right: 10px !important; 
  margin-left: 10px !important;
  color: #000 !important;
}
.filter-btn:not(:disabled):hover{
  background-color: #e7e7e787 !important;
}
.add-project-btn{
  padding: 9px 15px !important; 
  font-size: 14px;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 12px;
  background-color: #3B82F6 !important;
}
.add-project-btn:not(:disabled):hover{
  background: #2164f4 !important;
  color: #ffffff;
}
.search-input {
  margin-bottom: 0px !important;
}
.search-input .MuiFormControl-root .MuiInputBase-root{
  height: 47px !important;
  position: relative;
  width: 360px;
  border-radius: 18px;
}
.custom-toolbar{
  position: absolute; 
  bottom: 14px; 
  z-index: 1;
}
.filters-content .filters-sub-content .filters-field .field-name{
  margin-bottom: 13px !important;
  align-items: center;
  border: 1px solid #000;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #d7d7d778;
  margin-right: 14px !important;
}
.filters-content .filters-sub-content .filters-field .field-name .dependent-field{
  align-items: center;
  border: 1px solid #000;
  padding: 5px 10px;
  border-radius: 8px;
  background-color: #f0f6ff;
  margin-right: 14px !important;
}
.filters-content .filters-sub-content .filters-field .field-name .dependent-field .header{
  font-size: 13px;
  margin-bottom: 0 !important;
}
.filters-content .filters-sub-content .filters-field .field-name .icon .MuiSvgIcon-root{
  cursor: pointer;
}
.filters-content .filters-sub-content .filters-field .field-name .header{
  font-size: 13px;
  margin-bottom: 0 !important;
  margin-right: 10px;
}
.filters-content .filters-sub-content .filters-field .field-name .icon .MuiSvgIcon-root{
  cursor: pointer;
}
.filters-content .filters-btn{
  margin-bottom: 10px !important;
}
.select-info-bar{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2px;
  border-top: 1px solid #ccc;
  z-index: 100;
  padding: 0.5rem 1.5rem;
}
.select-info-bar .action-buttons{
  margin-right: 15px;
}
.select-info-bar .action-buttons .cancel-button-select{
  background-color: transparent;
  border: 0.8px solid #9B9CA0;
  color: #0d1831;
  border-radius: 8px;
}
.select-info-bar .action-buttons .cancel-button-select:not(:disabled):hover{
  background: rgba(31, 41, 55, 0.04);
  color: #0d1831;
  border: 0.8px solid #9B9CA0;
}
.select-info-bar .action-buttons .delete-button-select{
  background-color: #ef4444;
  border-radius: 8px;
}
.select-info-bar .action-buttons .delete-button-select:not(:disabled):hover{
  background: #dc2626;
  color: #ffffff;
  border-color: #dc2626;
}
.avatar-document-name{
  height: 100%;
}
.avatar-document-name .MuiAvatar-root{
  width: 23px !important;
  height: 25px !important;
}