.InputBaseClass, .MuiTextField-root, .MuiInputBase-formControl{
  height: auto !important;
}

.profile-tab .MuiBox-root .css-1gsv261 .MuiTabs-root .MuiTabs-scroller .MuiTabs-flexContainer .Mui-selected{
  background-color: #f0f0f0;
  border-radius: 8px;
}
.profile-tab .MuiBox-root .css-19kzrtu .charts .css-1v603wu-MuiResponsiveChart-container{
  width: 500px;
  height: 300px;
}
.search-input .space-y-2{
  margin-bottom: 0px !important;
}
.search-input .space-y-2 .MuiFormControl-root .MuiInputBase-root{
  height: 44px !important;
  position: relative;
  width: 360px;
  border-radius: 18px;
}

.filter-sidebar .MuiBox-root .sidebar-btn{
  width: 49%;
}

.list-container .MuiPaper-root{
  border-radius: 10px;
}
.list-container .MuiPaper-root .MuiDataGrid-root{
  border-radius: 10px;
}
.list-container .MuiPaper-root .MuiDataGrid-root .MuiDataGrid-main .MuiDataGrid-virtualScroller .MuiDataGrid-topContainer .MuiDataGrid-columnHeaders .MuiDataGrid-row--borderBottom{
  background-color: #EFEFEF;
}