@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'react-toastify/dist/ReactToastify.css';
.InputBaseClass, .MuiTextField-root, .MuiInputBase-formControl{
  height: auto !important;
}
.space-y-2 .MuiFormControl-root .MuiInputBase-root input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  background-color: transparent !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  transition: background-color 5000s ease-in-out 0s;
}
.breadcrumb-hide{
  pointer-events: none;
}
.breadcrumb-visible{
  pointer-events: auto;
}